#connector-key-form .key-label, #connector-key-form .key-element, #connector-key-form .key-element p {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
}

#connector-key-form .key-element button{
    display: inline-block;
}

#connector-key-form .key-label span em {
    color: #EB5202;
    vertical-align: middle;
}

#connector-key-form .key-input {
    width: 35%;
}

#connector-key-form .key-input input {
    width: 100%;
}