<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--<add id="MobileApp_Connector::connector" title="Connector" module="MobileApp_Connector" sortOrder="30" resource="MobileApp_Connector::connector"/>-->

        <!--<add id="MobileApp_Connector::connector_manage" title="All Items" module="MobileApp_Connector" sortOrder="10" parent="MobileApp_Connector::connector" action="connector/index/" resource="MobileApp_Connector::manage"/>-->

        <add id="MobileApp_Connector::connector" title="MobileApp" module="MobileApp_Connector" sortOrder="20" resource="MobileApp_Connector::connector"/>

        <add id="MobileApp_Connector::connector_settings" title="Connector Settings" module="MobileApp_Connector" sortOrder="10" parent="MobileApp_Connector::connector" resource="MobileApp_Connector::connector_settings"/>

        <add id="MobileApp_Connector::app" title="App" module="MobileApp_Connector" sortOrder="10" parent="MobileApp_Connector::connector_settings" action="connector/index/" resource="MobileApp_Connector::manage"/>

        <!--<add id="MobileApp_Connector::promote_app" title="Promote App" module="MobileApp_Connector" sortOrder="30" parent="MobileApp_Connector::connector_settings" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <!--<add id="MobileApp_Connector::app_transaction" title="App Transactions" module="MobileApp_Connector" sortOrder="40" parent="MobileApp_Connector::connector_settings" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <add id="MobileApp_Connector::general_settings" title="General Settings" module="MobileApp_Connector" sortOrder="50" parent="MobileApp_Connector::connector_settings" action="connector/index/" resource="MobileApp_Connector::manage"/>

        <!--<add id="MobileApp_Connector::notifications" title="Notifications" module="MobileApp_Connector" sortOrder="20" parent="MobileApp_Connector::mobileapp" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <!--<add id="MobileApp_Connector::manage_notify" title="Manage Notifications" module="MobileApp_Connector" sortOrder="20" parent="MobileApp_Connector::notifications" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <!--<add id="MobileApp_Connector::devices" title="Devices" module="MobileApp_Connector" sortOrder="20" parent="MobileApp_Connector::notifications" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <!--<add id="MobileApp_Connector::history" title="History" module="MobileApp_Connector" sortOrder="20" parent="MobileApp_Connector::notifications" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->


        <add id="MobileApp_Connector::default_themes" title="Default Themes" module="MobileApp_Connector" sortOrder="30" parent="MobileApp_Connector::connector" resource="MobileApp_Connector::themes"/>

        <add id="MobileApp_Connector::banner" title="Banners" module="MobileApp_Connector" sortOrder="10" parent="MobileApp_Connector::default_themes" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>

        <!--<add id="MobileApp_Connector::home_category" title="Home Category" module="MobileApp_Connector" sortOrder="10" parent="MobileApp_Connector::default_themes" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <!--<add id="MobileApp_Connector::cms" title="CMS" module="MobileApp_Connector" sortOrder="10" parent="MobileApp_Connector::default_themes" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <!--<add id="MobileApp_Connector::spot_products" title="Spot Products" module="MobileApp_Connector" sortOrder="10" parent="MobileApp_Connector::default_themes" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->


        <!--<add id="MobileApp_Connector::payment" title="Payments" module="MobileApp_Connector" sortOrder="40" parent="MobileApp_Connector::mobileapp" resource="MobileApp_Connector::payment"/>-->

        <!--<add id="MobileApp_Connector::mobile_bank_transfer" title="Mobile Bank Transfer" module="MobileApp_Connector" sortOrder="20" parent="MobileApp_Connector::payment" action="mobileapp/index/" resource="MobileApp_Connector::manage"/>-->

        <!--<add id="MobileApp_Connector::rich_content" title="Rich Content" module="MobileApp_Connector" sortOrder="50" parent="MobileApp_Connector::mobileapp" resource="MobileApp_Connector::rich_content"/>-->

        <!--<add id="MobileApp_Connector::user_experience" title="User Experience" module="MobileApp_Connector" sortOrder="60" parent="MobileApp_Connector::mobileapp" resource="MobileApp_Connector::user_experience"/>-->
    </menu>
</config>
