<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Simi. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Simi_Simiconnector::simi_cody_index" title="codymenu" module="Simi_Simiconnector"  sortOrder="20" dependsOnModule="Simi_Simiconnector" action="simiconnector/cody/index" resource="Simi_Simiconnector::simi_cody_index"/>
<!--AddMenu-->
    </menu>
</config>
